<html>
    <body >
        

    <!-- Main -->


        <div class="wrapper style2 helios">

            <%= image_tag 'helios.jpg' , class:"helios" %>  
         </div>

      


    </body>
</html>
